version: "3"
services:
  db:
    container_name: db_p
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: platform
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5


  client:
    container_name: client_p
    build: ./client
    ports:
      - 3000:3000
    volumes:
      - ./client:/app
    stdin_open: true
    tty: true

  server:
    container_name: server_p
    image: server_p:1.0.0
    build:
      context: ./backend
      dockerfile: flask.dockerfile
    ports:
      - 4000:4000
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/platform
    depends_on:
      - db

volumes:
  pgdata: {}
